Title : My second Blog Date : 2019-09-12 11:30 Slug : blog2

This is my seond blog post

In [4]:
import pandas as pd
from IPython.core.display import HTML
import chart
df = pd.DataFrame([['Ryan', 'https://duryan00.github.io/blog/'],
                 ['Hock' , 'https://teckhockng.github.io/blog/'],
                   ['Benoit', 'https://bolive84.github.io/Blog/'],
                 ['Anika','https://nawarani.github.io/blog/'],
                  ['Kavitha','https://kavitha-shashidharan.github.io/blog/']], columns = ['Name', 'Blog_link'])
df

      Name                                     Blog_link
0     Ryan              https://duryan00.github.io/blog/
1     Hock            https://teckhockng.github.io/blog/
2   Benoit              https://bolive84.github.io/Blog/
3    Anika              https://nawarani.github.io/blog/
4  Kavitha  https://kavitha-shashidharan.github.io/blog/

<img src = https://cdn1.vectorstock.com/i/1000x1000/71/45/cartoon-yeti-presenting-isolated-vector-6527145.jpg>